<?xml version="1.0" encoding="utf-8" ?>
<!--Copyright 2021 Esri-->

<!--Licensed under the Apache License Version 2.0 (the "License");-->
<!--you may not use this file except in compliance with the License.-->
<!--You may obtain a copy of the License at-->

<!--     http://www.apache.org/licenses/LICENSE-2.0-->

<!--Unless required by applicable law or agreed to in writing, software-->
<!--distributed under the License is distributed on an "AS IS" BASIS,-->
<!--WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.-->
<!--See the License for the specific language governing permissions and-->
<!--limitations under the License.-->
<configuration>
  <appSettings>
    <add key="gRPC_endpoint_URL" value="velocitydemo.arcgis.com" /><!--the gRPC endpoint URL where messages should be sent-->
    <add key="gRPC_endpoint_header_path" value="bc1qjuyagnrebxvh.a1cd9938ef784bd8ab221a38a5428a9d" /><!--the gRPC endpoint header path-->
    <add key="streamData" value="false" /><!--if true will stream data; if false will send unary requests -->
    <add key="authenticationArcGIS" value="false" /> <!--true == use ArcGIS authentication, false == no authentication-->
    <add key="tokenPortalUrl" value="" /> <!--only used if authenticationArcGIS is true. The url to the portal to be used for requesting an authentication token-->
    <add key="username" value="" /> <!--only used if authenticationArcGIS is true. The username for requesting an authentication token-->
    <add key="password" value="" /> <!--only used if authenticationArcGIS is true. The password for requesting an authentication token-->
    <add key="tokenExpiry" value="21600" /><!--the requested duration in minutes of a user token; 21600 is the max allowed value-->
    <add key="baseUrl" value="https://api.prod.obanyc.com/api/siri/vehicle-monitoring.json?version=2%26VehicleMonitoringDetailLevel=minimum" /> <!--url -->
    <add key="apiKey" value="ba46733d-5e03-4175-baf4-ce4488fbdc17" /><!--the api key to access the baseUrl-->
    <add key="lineRefs" value="M116,M106,M104,M103,M102,M101,M100,M98,M96,M86,M79,M72,M66,M60,M57,M55,M50,M42,M35,M34A,M34,M31,M23,M22,M21,M20,M15,M14D,M14A,M12,M11,M10,M9,M7,M8,M5,M4,M3,M2,M1" /><!---->
    <add key="sendInterval" value="10000" /><!--the interval in milliseconds between batches-->
  </appSettings>
</configuration>
